<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <%if @item.image.attached?%>
                    <%=image_tag @item.image,size: '500x600' , class:"card-img-top mb-5 mb-md-0"%>
                <%else%>
                    <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
                <%end%>
            </div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder"><%=@item.name%></h1>
                <div class="fs-5 mb-5">
                    <span>$<%=@item.price%></span>
                </div>
                <p class="lead"><%=@item.description%></p>
                <%=form_with(url:add_cart_path(id:@item.id),method: :put,local: true,class:"d-flex") do |f|%>
                    <div class=""form-group>
                        <%=f.number_field :quantity ,class:"form-control text-center me-3",id:"inputQuantity",value:"1",style:"max-width: 3rem",type:"num"%>
                    </div>
                    <%=f.button(class:"btn btn-outline-dark flex-shrink-0",type:"submit") do%>
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    <%end%>
                <%end%>
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <% @recent_items.each do |recent_item| %>
            <%=render(partial:"item",locals:{item:recent_item})%>
          <%end%>
        </div>
    </div>
</section>
