
<div class="container py-3">
  <main>
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Your cart</span>
          <span class="badge bg-primary rounded-pill">
            <%=@cart_size%>
          </span>
        </h4>
        <ul class="list-group mb-3">
          <% @cart_details.each do |detail| %>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div class="d-flex flex-column">
                <div class="mb-auto">
                  <h6 class="my-0"><%= detail.item.name%></h6>
                </div>
                <div class="d-flex justify-content-start small">
                  <span class="badge bg-primary rounded-pill">
                    <%= detail.quantity%>
                  </span>
                  $<%= detail.item.price%>
                </div>
              </div>
              <div class="d-flex flex-column">
                <div class="mb-auto">
                  <span class="text-body-secondary">
                    $<%= detail.quantity*detail.item.price%>
                  </span>
                </div>
                <div class="d-flex justify-content-end mb-auto">
                  <%=link_to('削除',remove_cart_path(id:detail),data:{turbo_method: :delete },class:"btn btn-danger btn-sm")%>
                </div>
              <div>
            </li>
          <%end%>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>$<%= @cart_details.sum{|c| c.quantity*c.item.price}%></strong>
          </li>
        </ul>

        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </form>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Billing address</h4>
        <%=render(partial:"form")%>
      </div>
    </div>
  </main>
  <footer class="my-5 pt-5 text-body-secondary text-center text-small">
    <p class="mb-1">&copy; 2017–2023 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>